.contenedor{
    float: left;
    width: 50%;
    margin-left: 100px;
    margin-right: 100px;
}

.previa_noticia{
    width: 100%;
    height: 225px;
    margin: 4%;
    padding: 2%;
    border-radius: 20px;
    background-color: #1C1C1C;
    color: white;
    /*background: rgb(205,97,89);
    background: linear-gradient(90deg, rgba(205,97,89,1) 0%, rgba(162,132,71,1) 51%, rgba(131,85,156,1) 100%);*/
}

aside{
    float: left;
    width: 10%;
    margin-left: 20px;
    margin-top: 60px;
}

.image_notice{
    width: 40%;
    height: 200px;
    float: left;
    margin: 10px;
}

.bloque_texto_noticia{
    width: 50%;
    float: left;
    margin: 10px;
    text-align: justify;
    
}

p{
    font-size: 14px;
}